<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
  </head>
  <body>
	<h1> Input Consultant </h1>
	<form id='con-in' method='post'>
	NetID: <input type='text' name='in_netID'></input> <br>
	Name: <input type='text' name='in_name'></input> <br>
	Position: <select name='in_pos'>
      {% for pos in positions %}        
		<option value='{{ pos[0] }}'>{{ pos[1] }}</option>
      {% endfor %}
	</select> <br>
    
	Team: <select name='in_team'>
      {% for team in teamlist %}
		<option value='{{ team.team }}'>Team {{ team.team }}</option>
      {% endfor %}
	</select> </td></tr> <br>
				
	Lead Con: <input type='text' name='in_conleader'></input> <br>
	@u account name: <input type='text' name='in_username'></input>@u.northwestern.edu <br>
	
	<input type='submit'/>
	</form>
	<a href='/'> Home </a>
  </body>
</html>
<!DOCTYPE html>
{% endautoescape %}