{% extends "index.html" %}
{% block Page_Header %} My Points {% endblock %}
{% block Content %}
    {% if con != false %}
        <div id='extra'>
            <h2>Your Lead Consultant: {{ con.lc }}</h2>
        </div>
        <table class='boxtable'><thead>
            <td>Timestamp</td>
            <td>Type of Feedback</td>
            <td>Notes</td>
            <td>Point Contribution</td>
        </thead></table>
        <div class='table-border'><table class='boxtable'>
        {% for feedback in feedbacks %}
            {% for point in points %}
                {% if point.id == feedback.point_id %}
            <tr>
                <td>{{ feedback.timestamp }}</td>
                <td>{{ point.type }}</td>
                <td>{{ feedback.notes }}</td>
                <td>{{ point.value }}</td>
            </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </table></div>
        <div id='points'>Total: {{ con.points }}</div>
    {% endif %}
{% endblock %}